<!DOCTYPE html>
<html>
    <head>

        <!-- Meta Tag -->
        <meta charset="utf-8">
        <meta name="description" content="Contact Form">
        <meta name="keywords" content="Nodejs,UIkit,Nodemailer,Expressjs">
        <meta name="author" content="Author">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Title -->
        <title>Contact Us</title>

        <!-- Font -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:400,500" rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/public/css/darkSky.css">
        <link rel="stylesheet" href="/public/css/fontawesome.min.css">
         
    </head>
    <body>
    
    {{{body}}}
    
    
    </body>
</html>
